{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error",
    "no-debugger": "error",
    "react/react-in-jsx-scope": "off"
  }
}
