.cart__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.ion-text-center {
  text-align: center;
}

.order-item {
  border: 1px solid #eee;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-product-info {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}
.order-product-overview {
  display: flex;
  align-items: center;
  gap: 20px;
}
.order-product-image {
  max-width: 110px;
  height: 110px;
  border: 1px solid #d1d1d1;
  margin-bottom: 8px;
  margin-top: 8px;
}

.order-product-details {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.order-product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order-product-details-overview {
  display: flex;
  flex-direction: column;
}

.order-product-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.order-product-details p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

.order-product-details h4 {
  font-size: 16px;
  font-weight: bold;
  color: #e44d26;
}

.quantity-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-button {
  border-radius: 100%;
}

/* Summary section */
.summary-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 150px;
  gap: 8px;
  border: 1px solid #d1d1d1;
  padding: 16px;
}

.total-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  .order-product-info {
    flex-direction: column;
  }

  .order-product-image {
    width: 100%;
  }

  .order-product-details {
    width: 100%;
    text-align: center;
  }

  .summary-section {
    min-width: fit-content;
    width: 100%;
    height: auto;
  }
}
