.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: aliceblue;
  border-radius: 16px;
}

.signup__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 60px;
  margin: 50px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 16px;
}

.signup__container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.signup__container-image-image {
  width: fit-content;
}

.signup__container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50%;
  gap: 24px;
}

.signup__title-1 {
  display: flex;
  font-size: 24px;
  font-family: sans-serif;
  color: black;
  padding-left: 20px;
}

.signup__title-2 {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana;
  line-height: 1.5;
  color: black;
  padding-left: 20px;
}

.signup__title-3 {
  font-size: 28px;
  font-weight: 800;
  font-family: sans-serif;
  padding: 10px;
  color: #407bff;
}

.signup__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.signup__inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
}

.signup__inputs-input {
  color: rgb(21, 21, 21);
  font-size: 15px;
}

.signup__inputs-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
  z-index: 2;
}

.signup__text {
  display: flex;
  flex-direction: row;
  font-size: 13.5px;
  font-family: sans-serif;
  color: black;
  gap: 3px;
}

.signup__double {
  display: flex;
  gap: 16px;
}

.signup__button {
  height: 40px;
  width: 25%;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

.signup__to-login {
  font-size: 16px;
  text-align: center;
  color: black;
}

@media (max-width: 1100px) {
  .signup__container {
    width: 600px;
    height: 90%;
    padding: 0px;
  }
  .signup__container-image {
    display: none;
  }
  .signup__container-text {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 80%;
  }
  .signup__title-3 {
    padding: 0;
  }
  .signup__main {
    padding: 0;
  }
}

@media screen and (max-width: 426px) {
  .signup__container {
    width: 400px;
    height: 80%;
    padding: 0px;
  }
  .signup__container-text {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 80%;
  }
  .signup__title-3 {
    padding: 10px;
    margin: 0;
  }
  .signup__title-1,
  .signup__title-2,
  .signup__title-3 {
    font-size: 18px;
  }
  .signup__main {
    padding: 0;
  }
  .signup__inputs {
    display: flex;
    gap: 8px;
  }
  .signup__double {
    display: flex;
    flex-direction: column;
  }
  .signup__to-login {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .signup__text {
    font-size: 10px;
  }
  .signup__button {
    width: 50%;
  }
}
